In [1]:
import pandas as pd
results = pd.read_csv("../data/kaggle/results.csv")
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [2]:
results['fastestLapTime']

0        1:27.452
1        1:27.739
2        1:28.090
3        1:28.603
4        1:27.418
           ...
25835    1:29.833
25836    1:31.158
25837    1:29.788
25838    1:30.309
25839    1:30.579
Name: fastestLapTime, Length: 25840, dtype: object

In [3]:
results.describe()

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,statusId
count,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000
mean,12921.334327,531.425813,261.732082,48.628328,11.179063,12.876006,1.877053,45.977515,17.568576
std,7460.682031,299.440908,268.623016,59.732131,7.243725,7.712391,4.169849,29.808951,26.155520
min,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,6460.750000,293.000000,56.000000,6.000000,5.000000,6.000000,0.000000,22.000000,1.000000
50%,12920.500000,514.000000,163.000000,25.000000,11.000000,12.000000,0.000000,52.000000,11.000000
75%,19380.250000,784.000000,360.000000,58.000000,17.000000,18.000000,2.000000,66.000000,14.000000
max,25845.000000,1096.000000,856.000000,214.000000,34.000000,39.000000,50.000000,200.000000,141.000000

In [4]:
results.count()

resultId           25840
raceId             25840
driverId           25840
constructorId      25840
number             25840
grid               25840
position           25840
positionText       25840
positionOrder      25840
points             25840
laps               25840
time               25840
milliseconds       25840
fastestLap         25840
rank               25840
fastestLapTime     25840
fastestLapSpeed    25840
statusId           25840
dtype: int64

In [5]:
results.isnull().sum()

resultId           0
raceId             0
driverId           0
constructorId      0
number             0
grid               0
position           0
positionText       0
positionOrder      0
points             0
laps               0
time               0
milliseconds       0
fastestLap         0
rank               0
fastestLapTime     0
fastestLapSpeed    0
statusId           0
dtype: int64

In [6]:
drivers = pd.read_csv("../data/kaggle/drivers.csv", encoding = "ISO-8859-1")
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [7]:

merge = pd.merge(results, drivers, how="inner", on="driverId")
merge

,resultId,raceId,driverId,constructorId,number_x,grid,position,positionText,positionOrder,points,...,fastestLapSpeed,statusId,driverRef,number_y,code,forename,surname,dob,nationality,url
0,1,18,1,1,22,1,1,1,1,10.0,...,218.300,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,27,19,1,1,22,9,5,5,5,4.0,...,209.033,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
2,57,20,1,1,22,3,13,13,13,0.0,...,203.969,11,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
3,69,21,1,1,22,5,3,3,3,6.0,...,204.323,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
4,90,22,1,1,22,3,2,2,2,8.0,...,222.085,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25777,1093,855,51,24,18,12,12,12,0.0,...,193.682,1,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou
25836,25798,1094,855,51,24,12,13,13,13,0.0,...,188.358,11,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou
25837,25817,1095,855,51,24,13,12,12,12,0.0,...,204.643,1,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou
25838,25837,1096,855,51,24,15,12,12,12,0.0,...,212.183,11,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou
25839,25714,1089,856,3,45,8,9,9,9,2.0,...,240.750,1,de_vries,45,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries

In [8]:
merge = merge.drop('points', axis = 1)
merge.head()

,resultId,raceId,driverId,constructorId,number_x,grid,position,positionText,positionOrder,laps,...,fastestLapSpeed,statusId,driverRef,number_y,code,forename,surname,dob,nationality,url
0,1,18,1,1,22,1,1,1,1,58,...,218.300,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,27,19,1,1,22,9,5,5,5,56,...,209.033,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
2,57,20,1,1,22,3,13,13,13,56,...,203.969,11,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
3,69,21,1,1,22,5,3,3,3,66,...,204.323,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
4,90,22,1,1,22,3,2,2,2,58,...,222.085,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton

In [10]:
merge = merge.drop(['position', 'laps', 'url', 'nationality', 'dob', 'forename', 'code', 'number_y'], axis = 1)
merge.head()

,resultId,raceId,driverId,constructorId,number_x,grid,positionText,positionOrder,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,driverRef,surname
0,1,18,1,1,22,1,1,1,1:34:50.616,5690616,39,2,1:27.452,218.300,1,hamilton,Hamilton
1,27,19,1,1,22,9,5,5,+46.548,5525103,53,3,1:35.462,209.033,1,hamilton,Hamilton
2,57,20,1,1,22,3,13,13,\N,\N,25,19,1:35.520,203.969,11,hamilton,Hamilton
3,69,21,1,1,22,5,3,3,+4.187,5903238,20,3,1:22.017,204.323,1,hamilton,Hamilton
4,90,22,1,1,22,3,2,2,+3.779,5213230,31,2,1:26.529,222.085,1,hamilton,Hamilton

In [11]:
status = pd.read_csv("../data/kaggle/status.csv", encoding = "ISO-8859-1")
status.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [12]:
d1 = pd.merge(merge, status, how="inner", on='statusId')
d1.head()

,resultId,raceId,driverId,constructorId,number_x,grid,positionText,positionOrder,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,driverRef,surname,status
0,1,18,1,1,22,1,1,1,1:34:50.616,5690616,39,2,1:27.452,218.300,1,hamilton,Hamilton,Finished
1,27,19,1,1,22,9,5,5,+46.548,5525103,53,3,1:35.462,209.033,1,hamilton,Hamilton,Finished
2,69,21,1,1,22,5,3,3,+4.187,5903238,20,3,1:22.017,204.323,1,hamilton,Hamilton,Finished
3,90,22,1,1,22,3,2,2,+3.779,5213230,31,2,1:26.529,222.085,1,hamilton,Hamilton,Finished
4,109,23,1,1,22,3,1,1,2:00:42.742,7242742,71,6,1:18.510,153.152,1,hamilton,Hamilton,Finished

In [13]:
data = d1.drop(['driverId', 'statusId', 'driverRef'], axis = 1)
data.head()

,resultId,raceId,constructorId,number_x,grid,positionText,positionOrder,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,surname,status
0,1,18,1,22,1,1,1,1:34:50.616,5690616,39,2,1:27.452,218.300,Hamilton,Finished
1,27,19,1,22,9,5,5,+46.548,5525103,53,3,1:35.462,209.033,Hamilton,Finished
2,69,21,1,22,5,3,3,+4.187,5903238,20,3,1:22.017,204.323,Hamilton,Finished
3,90,22,1,22,3,2,2,+3.779,5213230,31,2,1:26.529,222.085,Hamilton,Finished
4,109,23,1,22,3,1,1,2:00:42.742,7242742,71,6,1:18.510,153.152,Hamilton,Finished

In [15]:
races = pd.read_csv("../data/kaggle/races.csv", encoding = "ISO-8859-1")
races = races.drop(['round', 'circuitId', 'date', 'time', 'url'], axis = 1)
races.head()

,raceId,year,name,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,Australian Grand Prix,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,Malaysian Grand Prix,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,Chinese Grand Prix,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,Bahrain Grand Prix,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,Spanish Grand Prix,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [16]:

cleanedData = pd.merge(data, races, how='inner', on='raceId')
cleanedData.head()

,resultId,raceId,constructorId,number_x,grid,positionText,positionOrder,time,milliseconds,fastestLap,...,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,18,1,22,1,1,1,1:34:50.616,5690616,39,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,18,2,3,5,2,2,+5.478,5696094,41,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,18,3,7,7,3,3,+8.163,5698779,41,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,18,4,5,11,4,4,+17.181,5707797,58,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,18,1,23,3,5,5,+18.014,5708630,43,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [21]:
constructors = pd.read_csv("./data/constructors.csv", encoding = "ISO-8859-1")
constructors = constructors.drop(['constructorRef', 'nationality', 'url','Unnamed: 5'], axis = 1)
d2 = pd.merge(cleanedData, constructors, how='inner', on = 'constructorId')
d2.head()

,resultId,raceId,constructorId,number_x,grid,positionText,positionOrder,time,milliseconds,fastestLap,...,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,name_y
0,1,18,1,22,1,1,1,1:34:50.616,5690616,39,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,McLaren
1,5,18,1,23,3,5,5,+18.014,5708630,43,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,McLaren
2,27,19,1,22,9,5,5,+46.548,5525103,53,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,McLaren
3,25,19,1,23,8,3,3,+38.450,5517005,19,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,McLaren
4,69,21,1,22,5,3,3,+4.187,5903238,20,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,McLaren

In [22]:
FinalData = d2.drop(['constructorId','raceId','number_x', 'positionText','positionText', 'milliseconds', 'time', 'rank'], axis = 1)
FinalData

,resultId,grid,positionOrder,fastestLap,fastestLapTime,fastestLapSpeed,surname,status,year,name_x,...,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,name_y
0,1,1,1,39,1:27.452,218.300,Hamilton,Finished,2008,Australian Grand Prix,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,McLaren
1,5,3,5,43,1:27.418,218.385,Kovalainen,Finished,2008,Australian Grand Prix,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,McLaren
2,27,9,5,53,1:35.462,209.033,Hamilton,Finished,2008,Malaysian Grand Prix,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,McLaren
3,25,8,3,19,1:35.922,208.031,Kovalainen,Finished,2008,Malaysian Grand Prix,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,McLaren
4,69,5,3,20,1:22.017,204.323,Hamilton,Finished,2008,Spanish Grand Prix,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,McLaren
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,19712,7,19,\N,\N,\N,Wharton,Spun off,1952,Belgian Grand Prix,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,Frazer Nash
25836,19807,7,10,\N,\N,\N,Wharton,Wheel bearing,1952,Dutch Grand Prix,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,Frazer Nash
25837,19643,13,4,\N,\N,\N,Wharton,+2 Laps,1952,Swiss Grand Prix,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,Frazer Nash
25838,19756,25,21,\N,\N,\N,Crook,+10 Laps,1952,British Grand Prix,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,Frazer Nash
25839,20176,23,27,\N,\N,\N,Bonetto,Withdrew,1950,Italian Grand Prix,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,Milano

In [23]:
FinalData.to_csv('../data/FinalData.csv', sep=',')

In [24]:
FinalData.isnull().sum()

resultId           0
grid               0
positionOrder      0
fastestLap         0
fastestLapTime     0
fastestLapSpeed    0
surname            0
status             0
year               0
name_x             0
fp1_date           0
fp1_time           0
fp2_date           0
fp2_time           0
fp3_date           0
fp3_time           0
quali_date         0
quali_time         0
sprint_date        0
sprint_time        0
name_y             0
dtype: int64